<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}" lang="">

<body>
<div layout:fragment="content">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">App /</span> 기능</h4>

    <!-- Grid Card -->
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
        <div class="col" onclick="location.href='/drawing'" style="cursor: pointer">
            <div class="card h-100">
                <img class="card-img-top" src="/images/drawing.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">추첨하기</h5>
                    <p class="card-text">
                        학생들을 추첨하고 연계해서 당첨 메세지까지 보내보세요!
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img class="card-img-top" src="/images/vendor/elements/13.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                        This is a longer card with supporting text below as a natural lead-in to additional content.
                        This content is a little bit longer.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>