<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제안서 제출</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
    <h1>제안서 제출</h1>
    <form id="submissionForm">
        <label for="name">이름:</label>
        <input type="text" id="name" name="name" required>

        <label for="email">이메일:</label>
        <input type="email" id="email" name="email" required>

        <label for="proposal">제안서:</label>
        <textarea id="proposal" name="proposal" rows="10" required></textarea>

        <button type="submit">제출</button>
    </form>

    <div th:if="${userName}">
        <a th:href="@{/logout}" class="btn btn-info active" role="button">로그아웃</a>
        <label th:text="${userName} + 님"></label>
    </div>
    <div th:if="!${userName}">
        <a th:href="@{/oauth2/authorization/google}" class="btn btn-primary me-2 active" role="button">Google Login</a>
    </div>
</div>
</body>
</html>
