<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="root">
    <div class="signin-wrapper form active">
        <div class="form-wrapper">
            <h5>Welcome Back  👊</h5>
            <button onclick="location.href='/oauth2/authorization/google'" class="button primary" style="font-size: 17px">
                구글 로그인
            </button>
        </div>
    </div>
</div>
</body>
</html>